
services:
###> doctrine/doctrine-bundle ###
  database:
    image: mariadb:10.11
    environment:
      MARIADB_DATABASE: app
      MARIADB_ROOT_PASSWORD: root
      MARIADB_USER: app
      MARIADB_PASSWORD: app
    ports:
      - "3306:3306"
###< doctrine/doctrine-bundle ###

volumes:
###> doctrine/doctrine-bundle ###
  database_data:
###< doctrine/doctrine-bundle ###
